p{
    background-color: intigo;
    margin: 10px;
    color: purple;
}
.first {
    background-color: purple;
    margin: 10px;
#one {
    color: blue;
    background-color: orange ;
    font-size: 30px;
}
